@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* ------------Estilos Globais---------- */
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

main{
    font-size: 15px;
}

/* ------------Menu da página---------- */
#div-pai-menu {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navigation-menu ul {
    height: 48px;
    width: 400px;
    list-style: none;
}

#navigation-menu ul li {
    list-style: none;
    display: inline-block;
}

#navigation-menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    color: black;
}

/* ------------Botoes de login e cadastro---------- */
#botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 207px;
    height: 44px;
    left: 1041px;
    top: 0px;
}

#login {
    height: 48px;
    width: 96px;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    border: none;
}

#registro {
    height: 48px;
    width: 96px;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    color: #fff;
    background-color: #8E2424;
    border: none;
}

/* ------------Logo e nome da pagina----------  */
#div-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

/* ------------Imagem vazia no menu----------  */
#div-imagem-empty {
    position: static;
    width: 142px;
    height: 32px;
    left: 780px;
    top: calc(50% - 32px/2);
}

/* ------------Segunda seção_TEXTO----------  */
#header-text{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 50px;
}

#header-text{
    margin-bottom: 107px;
}

/* ------------Terceira seção_METRICAS----------  */
.metricas-container{
    height: 288px;
    width: 100%;
    padding-top: 20px;
    display: inline-flex;
    justify-content: space-evenly;
}

.metricas-container h2 {
    font-size: 60px;
    margin: 0 0;
    color: #8E2424;
}

.metricas-container p {
    color: #667085;
}

.metricas-container div{
    height: 100%;
    width: 220px;
}