@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* ------------Estilos Globais---------- */
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

main {
    font-size: 15px;
}

span {
    color: #667085;
}

h5 {
    color: #8E2424;
}

/* ------------Menu da página---------- */
#div-pai-menu {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation-menu ul {
    height: 48px;
    width: 400px;
    list-style: none;
}

#navigation-menu ul li {
    list-style: none;
    display: inline-block;
}

#navigation-menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    color: black;
}

/* ------------Botoes de login e cadastro---------- */
#botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 207px;
    height: 44px;
    left: 1041px;
    top: 0px;
}

#login {
    height: 48px;
    width: 96px;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}

#registro {
    height: 48px;
    width: 96px;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    color: #fff;
    background-color: #8E2424;
    border: none;
}

/* ------------Logo e nome da pagina----------  */
#div-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

/* ------------Imagem vazia no menu----------  */
#div-imagem-empty {
    position: static;
    width: 142px;
    height: 32px;
    left: 780px;
    top: calc(50% - 32px/2);
}

/* ------------Segunda seção_TEXTO----------  */
#header-text {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 50px;
}

#header-text {
    margin-bottom: 107px;
}

/* ------------Terceira seção_METRICAS----------  */
.metricas-container {
    height: 288px;
    width: 100%;
    padding-top: 20px;
    display: inline-flex;
    justify-content: space-evenly;
}

.metricas-container h2 {
    font-size: 60px;
    margin: 0 0;
    color: #8E2424;
}

.metricas-container div {
    height: 100%;
    width: 220px;
}

/* ------------Quarta seção_ANUNCIO DE VAGAS----------  */

.anuncio-container {
    height: 600px;
    width: 100%;
}

.anuncio-texto {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    margin-bottom: 50px;
}

.anuncio-container h5 {
    margin: auto;
    width: 125px;
    background-color: #8E24240D;
    border-radius: 16px;
}

.anuncio-container img {
    margin: auto;
    display: block;
}

/* ------------Quarta seção_DESCRIÇÃO DAS VAGAS----------  */
.vagas-container,
.area {
    width: 600px;
    margin: 25px auto;
    color: black;
}

.vaga {
    width: 600px;
    height: 150px;
    margin: 24px auto;
    border: solid #6670855d 1px;
    border-radius: 20px;
}

.titulo-vaga {
    height: 30px;
    width: 30%;
    position: relative;
    top: 30px;
    left: 30px;
    color: black;
}

.descricao {
    height: 30px;
    width: 80%;
    display: inline-block;
    margin: 4em 30px 5px;
}

.descricao span {
    margin-right: 50px;
}

/* ------------Quinta seção_DEPOIMENTOS----------  */

.depoimentos-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.depoimentos {
    height: 404px;
    width: 1216px;
    text-align: center;
    background-color: #8E24240D;
}

.depoimentos p {
    font-size: 36px;
    line-height: 44px;
}
.depoimentos img{
    margin-bottom: 15px;
}
.depoimentos h4{
    margin: 0;
}