@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: 'Inter';
    background-color: #fff;
}
main{
    font-size: 15px;
}

/* ------------menu da página---------- */
#div-pai-menu {
    height: 96px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navigation-menu ul {
    height: 48px;
    width: 400px;
    list-style: none;
    /* background-color: aqua; */
}

#navigation-menu ul li {
    list-style: none;
    display: inline-block;
    /* padding: 15px; */
}

#navigation-menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    color: black;
}

/* ------------botoes de login e cadastro---------- */
#botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 207px;
    height: 44px;
    left: 1041px;
    top: 0px;
}

#login {
    height: 48px;
    width: 96px;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    border: none;
}

#registro {
    height: 48px;
    width: 96px;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 10px;
    color: #fff;
    background-color: #8E2424;
    border: none;
}

/* ------------logo e nome da pagina----------  */
#div-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

/* ------------imagem vazia no menu----------  */
#div-imagem-empty {
    position: static;
    width: 142px;
    height: 32px;
    left: 780px;
    top: calc(50% - 32px/2);

}

/* ------------segunda seção da pagina----------  */
#header-text{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    margin-top: 96px;
}